header{
    z-index: -1;
    overflow: hidden;
    height: 763.875px;
}
header video{
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center
}