@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
*::after,
*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
  font-size: 16px;
}

h1{
  font-weight: 600;
}
h2{
  font-weight: 500;
}
h3,h4,h5,h6{
  font-weight: 400;
}

::-webkit-scrollbar {
  width:8px;
}

/* Track */
/* ::-webkit-scrollbar-track { */
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 10px; */
/* } */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3ac280; 
  border-radius: 10px;
}