.title-work-waterfall{
    font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  padding: 156px 315px;
  background: url(../../assets/circle.png);
  background-position: 50%;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}





.fee-box {
    border-radius: 8px;
    background-color: #f2f6f7;
}

.fee-box .header{
padding: 16px 22px;
text-align: left;
background-color: #3ac280;
font-size: 28px;
border-radius: 8px;
color: #fff;

}
.icon{
    width: 14px;
    height: 14px;
    margin-right: 4px;
}
.header-paid{
    background:  rgb(10, 81, 105) !important;
color: #fff;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 450px;
    background-color: #f2f6f7;
    padding: 0 60px;
}
.body h4{
    padding: 30px 15px 15px;
    text-align: center;
    color: #0a5169;
    font-weight: 600;
    font-size: 53px;
}


.slider-intro p{
    max-width: 620px;
    margin: 0px auto 80px;
    /* padding: 10px 10px; */
    text-align: center;
    font-size: 14px;
}

.slider-waterfall{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 85px 0;

}

.slider-waterfall #slider-input{
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 15px;
    background: #dff1eb;
    /* background: rgba(255, 255, 255, 0.6); */
    border-radius: 15px;
    background-image: linear-gradient(#0a5169, #0a5169);
    background-size: 0% 100%;
    background-repeat: no-repeat;
  }
  
  .slider-waterfall #slider-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid #3ac280;
    background: #fff;
    cursor: ew-resize;
  }

  .slider-waterfall #slider-input::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
/* .slider-waterfall .selector{
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #3ac280;
    left: 0%;
    top: 63px;
    width: 30px;
    height: 30px;
}
.slider-waterfall .fill{
    position: absolute;
    height: 12px;
    background-color: #879aa0;
    border-radius: 20px;
    width: 0%;
    left: 13px;
    top: 71px;
    touch-action: none;
    z-index: 1;
    
} */

.slider-tooltip{
    width: 180px;
    height: 80px;
    text-align: center;
    position: absolute;
    background-color: #dff1eb;
    font-weight: 400;
    font-size: 14px;
    transition: all .1s ease-in;
    border-radius: 4px;
    display: inline-block;
    color: #000;
    left: 2%;
    top: -109px;
    transform: translate3d(-50%,0,0);
    text-align: center;
    align-items: center;
    padding: 10px 0;
}
 .slider-tooltip-price b{
    font-size: 19px;
     color:  #0a5169;
     
}
 .slider-tooltip-text p{
     color:  #0a5169;

}
.slider-tooltip::after{
    content: "";
    border-left: 8px solid rgba(0,0,0,0);
    border-right: 8px solid rgba(0,0,0,0);
    border-top: 8px solid #dff1eb;
    left: 50%;
    bottom: -8px;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    position: absolute;
    top: 80px;
}



 .limit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   .limit span{
    margin-top: 40px;
    text-align: center;
    font-size: 0.7rem;
    color: rgb(10, 81, 105);
  }
   .limit span::before{
    content: "";
    position: absolute;
    top: 20px;
    margin-top: 10px;
    margin-left: 2%;
    width: 2px;
    height: 25px;
    background-color: #dff1eb;
  }
 .limit .second{
     margin-left: 21px;
 }
 .limit .third{
     margin-left: 16px;
 }
 .limit .fourth{
     margin-left: -23px;
 }
  .limit span:first-child::before{
    margin-left: -0%!important;
  }