
  .contact .form{
    display: flex;
    justify-content: space-evenly;
  }
  
 
  
  
  .contact div input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(10, 81, 105);
    padding: 10px 15px;
    color: #928f8f;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contact .button{
    width: fit-content;
    margin: 0px auto;
  }
  .contact button{
    width: 160px;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 40px;
    color: #fff;
    background-color: #afadad;
    margin: 0px auto;
  }
  .message{
      position: relative;
  }
  .label-message{
    position: absolute;
    top: 20;
    left: 13;

  }
  .message .label-name{
    position: absolute;
    top: 9 !important;
    left: 13 !important;
  }
  #message-text{
    height: 195px;
  }
  #message-text ~ .label-message,
  #name:focus ~ .label-name,
  #email:focus ~ .label-email,
  #cell:focus ~ .label-cell{
      font-size: 0.5rem;
      top: -0.5rem; 
      left:0.8rem
  }